:root {
  --main-color: purple;
}

body {
  font-family: sans-serif;
}

.label-container {
  display: flex;
  align-items: center;
}

.label {
  margin-left: 0.5em;
  font-weight: bold;
}

.label-incomplete {
  color: lightgrey;
}

.icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: white;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}

.icon-incomplete {
  background-color: lightgrey;
}

.form {
  border-left: solid 1px lightgrey;
  padding: 0.5em;
  margin: 0.3em 0 0.3em 12px;
  min-height: 15px;
}

.no-border {
  border: none;
}

input {
  max-width: 300px;
  width: 100%;
  height: 30px;
  border: 1px solid var(--main-color);
  border-radius: 3px;
}

button {
  width: 68px;
  height: 36px;
  font-size: 0.9em;
  border-radius: 5px;
  border: none;
  margin-top: 0.5em;
  cursor: pointer;
  transition: all 0.3s linear;
}

button:disabled {
  cursor: default;
}

.back {
  background-color: transparent;
}
.back:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

.next {
  background-color: var(--main-color);
  color: white;
}
.next:hover {
  background-color: darkviolet;
}
.next:disabled {
  opacity: 0.2;
}
